#single-menu-page {
  padding: 100px;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #ed4852;
    margin-bottom: 1.5rem;
  }
  .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    h4 {
      font-size: 1.4rem;
      color: #000;
      font-weight: 800;
    }
    .price {
      font-size: 1.1rem;
      color: #000;
      font-weight: 600;
    }
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  #single-menu-page {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #single-menu-page {
    padding: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #single-menu-page {
    padding: 20px;
  }
}
