#single-menu-page {
  padding: 100px;
  #food-preview {
    padding: 0;
    background: transparent;
    h2 {
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 130px;
    }
    .left-btn,
    .right-btn {
      background: rgb(46, 43, 59);
    }
    .slide {
      &:hover {
        .background {
          background: rgb(46, 43, 59);
        }
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  #menu-page {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #menu-page {
    padding: 20px;
  }
}
